html{
	
	height:100%;

	
}
*{
	box-sizing: border-box;
}
body{
	
	height:100%;
	width: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
	min-width: 1300px;
}
/*common*/
a{
	
	text-decoration: none;
	color: #F0FFFF;
}
.page{
	
	width:100%;
	background-color: darkgrey;
	
}
/*head*/
.head{
	padding: 20px 0 20px 0;
	background-image: url(../images/topbg.gif);
	background-repeat: repeat-x;
	background-size: contain;
	display: flex;

}
.logo{
	padding: 0px 0px 0px 30px;
	float:left;
}
.head .menu{
	
  width:700px;
  float:left;
  
}
ul{
	
		list-style: none;
}
.menu ul{
	

    margin:-19px 0 0 0;
}
.menu ul li{
	width:100px;
    float: left;
    padding: 0px 10px 0px 10px;
}
.message{

	clear: both;
	
}
.hero_img{
	
	background-image: url(../images/i07.png);
    height: 20px;
    width: 20px;
    display: inline-block;	
    background-size: contain;
    position: relative;
    top:5px;
}
.help{
	
	width: 200px;
	float: right;
	margin-top:-10px;
	margin-left: 50px;
}
.help_content{
	
	text-align: center;
	padding:10px;
}
.hero{
	
	background-color: #00CED1;
	color: white;
	border-radius: 30px;
	text-align: center;
	padding:6px;
	
}
.hero_message{
	padding-left: 5px;
	color:red;
	font-size: 20px;
}
ul li a{
	
	padding: 10px;
}
ul li a img{
	
	display: block;
	padding-left: 5px;
}
/*content*/
.content{

	height:600px;
}
/*left*/
.left{
	
	height: 100%;
	width:200px;
	float:left;
	background-color: #F0F8FF;
	border: 1px solid #EEE;
}
.left_head{
	
	height:40px;
	background-color: cornflowerblue;
	padding: 10px 0px 10px 30px;

}
.span{
	
	position: relative;
	top:-3px;
	
}
.left_content_title{
	
	height: 40;
	background-color:  aquamarine;
	padding: 10px 0px 10px 30px;
}
.left_content_menu{
	

	height: 100%;
}
.left_content_menu ul li a{
	
	color: black;
}
.left_content_menu ul li{
	
	text-align: left;
	margin: 10px 0;
}
.left_content_menu ul li a:before{
	
	content: url(../images/list.gif);
}
/*right*/
.right{
	
	height:100%;
	background-color:ghostwhite;
}

.right_head{
	height:40px;
	background-color: darkturquoise;
	
}
.right_head span{
	display: inline-block;
	padding: 10px 10px;
}

.search{
	
	margin: 10px;
	position: relative;
	left:10px;
}
.search .input{
	
	display: inline-block;
	
}
.search .input input{
	
	width:300px;
	height: 40px;
	padding: 5px;
	border: 2px solid #A9A9A9;
	font-size: 16px;
}
.search input[type="submit"]{
	display: inline-block;
	background-image: url(../images/btnbg.png);
	height: 40px;
	width: 120px;
	color: white;
	
}
.search button{
	
	height: 40px;
	width: 80px;
	float: right;
	margin-right: 20px;
	margin-top: 2px;
	border-radius: 5px;
	background-color: #EEEEEE;
}
.search button span{
	
	position: relative;
	top:-5px;
}
.search button:after{
	
	clear: both;
}
.table_content{
}
.table{
	
	border: 2px solid #EEEEEE;
	text-align: left;
    width: 83.8%;
    margin: 0 auto;
}
.table tr td{
	width: 400px;
	height: 40px;
}
.table tr:first-child{
	background-color: #7FFFD4;
}
.table tr:hover{
	
	background-color: bisque;
	
}

.table_footer_page_title{
	
	position: relative;
	left: 10px;
	padding-top:10px;
}
.table_footer_page{
	float:right;
	margin-right: 10px;
}
.btn_group{
	
	background-color: #00CED1;
	height: 40px;
	border-radius: 10px;
}
.btn_group a{
	display: inline-block;
	color:white;
	padding: 10px 10px;
	
}
.btn_group a:hover{
	
	background-color: #7FFFD4;
}
